<div class="companies">
  <h2 class="company-name"> <%= link_to company.name, user_company_path(company.user, company) %></h2>
  <%= link_to company_upvote_path(current_user, company), method: :put do %>
      Likes
    <%= company.get_upvotes.size %>
  <% end %>
  <h3 class="company-user"> Founder: <%= link_to "#{company.user.first_name} #{company.user.last_name}", user_path(company.user) %></h3>
  <div class="">
      <%= embed(company.pitch_url) %>
  </div>
  <p>
    <h3 class = "company-description">Company Description</h3>
    <p class= "pitch-text">
      <%= company.pitch_text %>
    </p>
  </p>
</div>
