<h2><%= flash[:notice] %></h2>
<%- unless current_user.favorite_companies.exists?(id: @company.id) -%>
  <%= link_to 'Add to Favorites', company_favorite_companies_path(@company), method: :post %>
<%- else -%>
  <%= link_to 'Remove from Favorites', company_favorite_company_path(@company.id, params[:id]), method: :delete %>
<%- end -%>
<%= render @company %>
<% if @is_user  %>
<ul class = "edit-delete">
    <li><%= link_to "Edit Company", edit_user_company_path(@user, @company), class: "edit-link"%></li>
    <li><%= link_to "Delete Company", user_company_path(@user, @company), method: :delete %></li>
</ul>
<% end %>
