<!DOCTYPE html>
<html>
<head>
  <title>SeedMe</title>
  <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1 class = "header-logo"> Welcome to SeedMe</h1>
    <ul class = "header-nav">
      <li><%= link_to "Home", root_url %></li>
      <% if current_user %>
        <li><%= link_to "Log Out", logout_path, method: :delete %></li>
        Logged In As <%= current_user.first_name %> <%= current_user.last_name %>
      <% else %>
        <li><%= link_to "Sign Up", signup_path %> or</li>
        <li><%= link_to "Log In", login_path %></li>
      <% end %>
    </ul>
    <h3 class = "flash"><%= flash[:notice] %></h3>
  </header>
  <div class = "wrapper">
    <% if current_user %>
    <nav>
        <p id = "navigation-text"> Menu </p>
        <%= link_to "Add Company", new_user_company_path(current_user, Company.new) %>
        <%= link_to "Company Index", companies_path %>
        <%= link_to "Watch List", favorites_path %>
        <%= link_to "Profile Page", user_path(current_user) %>
        <%= link_to "Messages (#{current_user.received_messages.length})", user_messages_path(current_user) %>
	<!-- can you think of a way to show which page you're currently on? i.e. maybe check the controller name
	that's rendering the view, or check out like http://stackoverflow.com/questions/3705898/best-way-to-add-current-class-to-nav-in-rails-3 -->
    </nav>
    <% end %>
<%= yield %>
</div>
</body>
</html>
