<!DOCTYPE html>
<html>
<head>
  <title>SeedMe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1 class = "header-logo"> Welcome to SeedMe</h1>
    <ul class = "header-nav">
      <li> <%= link_to "Home", root_url %> </li>
      <li> <%= link_to "Sign In", "/sign_in" %></li>
      <li> <%= link_to "Sign Out", "/sign_out" %></li>
      <li> <%= link_to "Sign Up", "/sign_up" %> </li>
    </ul>
  </header>
  <div class = "wrapper">
    <nav>
      <p>  Navigation  </p>
      <%= link_to "Company Index", root_url %>
      <%= link_to "User Index", users_path %>
      <%= link_to "Favorites", root_url %>
      <%= link_to "Profile Page", root_url %>
    </nav>
<%= yield %>
</div>
</body>
</html>
