<!DOCTYPE html>
<html>
<head>
  <title>SeedMe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1 class = "header-logo"> Welcome to SeedMe</h1>
    <ul class = "header-nav">
        <li> <%= link_to "Home", root_url %> </li>
      <% if session[:user] %>
        <li> <%= link_to "Sign Out", "/sign_out" %></li>
      <% else %>
        <li> <%= link_to "Sign In", "/sign_in" %></li>
        <li> <%= link_to "Sign Up", "/sign_up" %> </li>
      <% end %>
    </ul>
  </header>
  <div class = "wrapper">
    <nav>
      <% if session[:user] %>
        <p id = "navigation-text"> Menu </p>
        <%= link_to "Add Company", new_user_company_path(session[:user]["id"], Company.new) %>
        <%= link_to "Company Index", companies_path %>
        <%= link_to "Watch List", root_url %>
        <%= link_to "Profile Page", user_path(session[:user]["id"]) %>
      <% end %>
    </nav>
<%= yield %>
</div>
</body>
</html>
